@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

*:focus {
    outline:none;
}


body {
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    box-sizing: border-box;
    width: 100vw;
}

h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 70vw;
}


@media (max-width: 1550px) {
    #filtros {
        position:static !important;
    }



}

@media (max-width: 1000px) {
    
    .tarjeta {
        display: flex;
        flex-direction: column;
        height: auto !important;
        width: 60vw !important;
        min-width: unset !important;
    }

    #buscar {
        width: 200px !important;
    }

    .categorias {
        top: 245px;
        right: 30px !important;
    }

    .foto-receta {
        width: 100% !important;
        
    }

    main {
        margin:0 auto;
        width: 80vw;;
    }
    
    #filtros {
        width: 150px !important;
    }
}

@media (max-width: 700px) {
    .categorias {
        top: 275px;
        left: 20px;
    }

    #buscar {
        display: none;
    }
    
    #titulo-pagina {
        margin: auto;
    }
}

#nav{
    height: 80px;
    background-color: red;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#buscar {
    border: none;
    border-radius: 20px;
    height: 30px;
    margin: 25px 70px 0 0;
    width: 300px;
    padding-left: 10px;
}

#titulo-pagina {
    color:white;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 50px;
    font-family: 'Damion', cursive;
    margin-left: 100px;
}

#mostrarFiltros {
    position: absolute;
    top: 10px;
    height: 35px;
    display: block;
    opacity: 0;
}

#filtros {
    position: fixed;
    width: 10vw; 
    background-color: #ddd;
    padding-left: 20px;
    border-radius: 10px;
}

#filtros:has(#mostrarFiltros:checked) {
    --rows: 1fr;
    
    padding-bottom: 20px;
}

#filtrostitulo {
    display: inline-block;
}

#dropdown {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
    
}

#dropdownsub {
    overflow: hidden;
}

.nav__menu--second {
    transform: var(--img2);
}

.nav_icon {
    width: 30px;
    display: block;
}



.check {
    margin-bottom: 10px;
}


.tarjeta {
    background-color: #ddd;
    padding: 20px;
    height: 205px;
    width: 40vw;
    min-width: 700px;
    margin: 40px auto;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
}

p {
    text-align: justify;
}
.foto-receta {
    height: 200px;
    width: 350px;
    float: left;
    margin-right: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.categorias {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.categoria::after {
    border-radius: 4px;
    padding: 5px;
    font-size: 15px;
}

.vegetariano::after {
    background-color: #008000;
    color: white;
    content: "Vegetariano";
}


.picante::after {
    background-color: #FFA500;
    color:white;
    content: "Picante";
}

.marino::after {
    background-color: #0000FF ;
    color: white;
    content: "Marino";
}

.criollo::after {
    background-color: #8B0000;
    color: white;
    content: "Criollo";
}

.selvatico::after {
    background-color: #006400;
    color: white;
    content: "Selvatico";
}

.pastas::after {
    background-color: #FFFF99;
    color: black;
    content: "Pasta";
}

.oriental::after {
    background-color: #FF0000;
    color: white;
    content: "Oriental";
}

.postre::after {
    background-color: #FFC0CB ;
    color: black;
    content: "Postre";
}

.andino::after {
    background-color: #E2725B;
    color: black;
    content: "Andino";
}

.sopas::after {
    background-color: #C4D8AF;
    color: black;
    content: "Sopa";
}