@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    box-sizing: border-box;
    width: 100vw;
}

main {
    margin: 0 auto;
    width: 70vw;;
}

#descripcion {
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Damion', cursive;
    margin: 20px auto;
}


#nav{
    height: 80px;
    background-color: red;
    width: 100vw;
    display: flex;
    align-items: center;
    --img1: scale(1);
    --img2: scale(0);
}

#titulo-pagina {
    color:white;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 50px;
    font-family: 'Damion', cursive;
    margin-left: 40px;
}

.foto-principal {
    width: 100vw;
    max-height: 500px;
    object-fit: cover;
}

h2 {
    font-size: 40px;
}

li {
    margin: 5px;
}

iframe {
    width: 70vw;
    height: 700px;
}

.subtitulo {
    background-color: #f22;
    color: white;
    padding: 10px 2px;
    text-align: center;
}

li {
    margin-bottom: 15px;
    font-size: 20px;  
}

#volver {
    transform: rotate(-90deg);
    margin-right: 0;
    margin-left: 10px;
    height: 80%;
    
    cursor: pointer;
}

@media (min-width: 900px) {
    #informacion {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 4fr 6fr;
    }

    #preparacion {
        grid-column: 2;
    }

    #ingredientes {
        grid-column: 1;
    }

    .subtitulo{
        padding: 10px 40px;
        text-align: center;
    }

}